#info {
    background: #333333;
    color: white;
    text-align: center;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infosd {
    margin: 20px;
}

.infosd img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #ffffff;
}

footer .icon-facebook {
    color: #333333;
    text-decoration: none;
    position: relative;
}